%h1 All tasks

%h1 Requested Tasks
- @tasks.each do |x|
  .row
    .col.s12.m6
      .card.blue-grey.darken-1
        .card-content.white-text
          %h4.card-title.center-align= x.name.titleize
          %p
            Description: #{x.description}
          %p
            Where: #{x.location}
          %p
            Event Created: #{x.created_at.strftime("%m/%d/%Y")}
          %p
            UserID: #{x.user_id}
          %p
            Tokens?! #{x.tokens}
          %p
            Category: #{x.category}
        .card-action
        - if x.user_id != current_user.id
          = link_to 'Claim Task', assign_path(:task_id => x.id)
        - else
          = link_to 'Edit Task', edit_task_path(x)

          %a{:href => "#"} who created
          %a{:href => "#"} who completed it?

