%h1.center All Tasks
- @tasks.each do |x|
  .row
    .card.green.darken-1.col.s12.m5
      .card-image.waves-effect.waves-block.waves-light
        = image_tag x.image.url(:medium)
      .card-content.white-text
        %span.card-title.activator.grey-text.text-darken-4
          = x.name.titleize
          %br
          %i.material-icons.right more_vert
        - if x.user_id != current_user.id
          - if x.complete != true
            %a
              = link_to 'Claim Task', assign_path(:task_id => x.id), class: 'btn white-text'
          - else
            %a.white-text
              = link_to 'Completed', tasks_path, class: 'btn white-text disabled'
          %a
            = link_to "#{x.user.first_name}'s Profile", user_path(x.user.id), class: 'btn right-align white-text'
        - else
          %a
            = link_to 'Edit Task', edit_task_path(x), class: 'btn right-align white-text'
      .card-reveal
        %span.card-title.grey-text.text-darken-4
          = x.name.titleize
        %i.material-icons.right close
        %p
          Description: #{x.description}
        %p
          Where: #{x.location}
        %p
          Event Created: #{x.created_at.strftime("%m/%d/%Y")}
        %p
          Posted By: #{x.user.email}
        %p
          Tokens: #{x.tokens}
        %p
          Category: #{x.category}
          