%h1 Available tasks

- @tasks.each do |task|
  - if task.user_id != current_user.id && task.complete != true
    = task.name
    |
    = task.location
    |
    = task.description
    |
    = task.user_id
    |
    = task.tokens
    |
    = task.category
    |
    = link_to 'Claim Task', assign_path(:task_id => task.id)

  - elsif task.complete != true
    = task.name
    |
    = task.location
    |
    = task.description
    |
    = task.user_id
    |
    = task.tokens
    |
    = task.category
    |
    = link_to 'Edit Task', edit_task_path(task)
  %br
