- if @user.id == current_user.id
  %h1
    = "Welcome, #{current_user.first_name}"
  %br
.right-align
  = image_tag @user.avatar.url(style: :thumb)
  %h4
    = @user.first_name
    %br
    = @user.last_name
    %br
    = @user.email
    %br
    Tokens: 125

%h1 Requested Tasks
- @requested_tasks.each do |x|
  .row
    .card.green.darken-1.col.s12.m5
      .card-content.white-text
        %h4.card-title.center-align= x.name.titleize
        %p
          Description: #{x.description}
        %p
          Where: #{x.location}
        %p
          Event Created: #{x.created_at.strftime("%m/%d/%Y")}
        %p
          Posted By: #{x.user.email}
        %p
          Tokens: #{x.tokens}
        %p
          Category: #{x.category}
        .card-action.center
          - if x.user_id != current_user.id
            - if x.complete != true
              %a
                = link_to 'Claim Task', assign_path(:task_id => x.id), class: 'btn white-text'
            - else
              %a.white-text
                = link_to 'Completed', class: 'white-text'
            %a
              = link_to "#{x.user.first_name}'s Profile", user_path(x.user.id), class: 'btn right-align white-text'
          - else
            %a
              = link_to 'Edit Task', edit_task_path(x), class: 'btn right-align white-text'


%h1 Claimed Tasks
- @claimed_tasks.each do |x|
  .row
    .card.green.darken-1.col.s12.m5
      .card-content.white-text
        %h4.card-title.center-align= x.name.titleize
        %p
          Description: #{x.description}
        %p
          Where: #{x.location}
        %p
          Event Created: #{x.created_at.strftime("%m/%d/%Y")}
        %p
          Posted By: #{x.user.email}
        %p
          Tokens: #{x.tokens}
        %p
          Category: #{x.category}
        .card-action.center
          - if x.assigned_user_id == current_user.id
            - if x.complete != true
              %a
                = link_to 'Mark as Complete', complete_path(:task_id => x.id), class: 'btn white-text'
            - else
              %a
                = link_to 'Completed', complete_path(:task_id => x.id), class: 'btn white-text disabled'
            %a
              = link_to "#{x.user.first_name}'s Profile", user_path(x.user.id), class: 'btn right-align white-text'
          - else
            %a
              = link_to 'Edit Task', edit_task_path(x), class: 'btn right-align white-text'
          